{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
            <section class="c-layout-revo-slider c-layout-revo-slider-9">
                <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                    <div class="tp-banner rev_slider" data-version="5.0">
                        <ul>
                            <!--BEGIN: SLIDE #1 -->
                            <li  data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{% static 'assets/images/1.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                
                                <!--BEGIN: MAIN TITLE -->
                                <div  class=" well  tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-300,-300, -100, -100]" data-voffset="-120" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;:s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                                data-endspeed="600">
                                    <h3 class="c-main-title c-font-44 c-font-bold c-font-uppercase c-font-white"><u>Farm Inspection</u><br> GFC members inspecting one of their farms <br>
                                    <p><a href="#" style="margin-top:20px;" class="button btn  btn-success btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x  c-btn-uppercase">Explore</a></p></h3>
                                </div>
                                <!--END -->
                                <!--BEGIN: SUB TITLE -->
                                
                                <!--END -->
                                <!--BEGIN: ACTION BUTTON -->
                                <div class="tp-caption randomrotateout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-470,-470, -270, -270]" data-voffset="130" data-speed="500" data-start="2000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;">
                                    
                                </div>
                                
                                <!--END -->
                            </li>
                            <!--END -->
                            <!--BEGIN: SLIDE #2 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{% static 'assets/images/6.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!--BEGIN: MAIN TITLE -->
                                <div class="well tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-350,-350, -150, -150]" data-voffset="-180" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                                data-endspeed="600">
                                    <h3 class="c-main-title c-font-44 c-font-bold c-font-uppercase c-font-white"><u>Students Training</u><br> GFC officials taking students  through <br>fish harvesting processes <br>
                                    <a href="#" class="c-action-btn btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x btn-success c-btn-uppercase">Explore</a></h3>
                                </div>
                                <!--END -->
                                <!--BEGIN: SUB TITLE -->
                               
                                <!--END -->
                                <!--BEGIN: ACTION BUTTON -->
                              
                                <!--END -->
                            </li>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{% static 'assets/images/7.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!--BEGIN: MAIN TITLE -->
                                <div class="well tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-350,-350, -150, -150]" data-voffset="-180" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                                data-endspeed="600">
                                    <h3 class="c-main-title c-font-44 c-font-bold c-font-uppercase c-font-white"> Farmers Training<br>Thomas Owiny,Founder GFC, leading farmers training session<br>
                                    <a href="#" class="c-action-btn btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x btn-success c-btn-uppercase">Explore</a> </h3>
                                </div>
                                <!--END -->
                            </li>
                            <!--END -->
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
            <!-- BEGIN: CONTENT/BARS/BAR-3 -->
            <div class="c-content-box c-size-md c-bg-dark">
                <div class="container">
                    <div class="c-content-bar-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">WHO WE ARE</h3>
                                    <p class="c-font-uppercase">Gem Famers Centre was formed under strong foundation to transform lives of people through community partnership.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-2">
                                <div class="c-content-v-center" style="height: 90px;">
                                    <div class="c-wrapper">
                                        <div class="c-body">
                                            <a href="{% url 'about_us' %}" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            
           
            <!-- BEGIN: CONTENT/BLOG/RECENT-POSTS -->
            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                    <!-- Begin: Testimonals 1 component -->
                    <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">Our Key Services</h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <!-- Begin: Owlcarousel -->
                        <div class="owl-carousel owl-theme c-theme">

                            <div class="item">
                                <div class="c-content-blog-post-card-1 c-option-2">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#">
                                                    <i class="icon-link"></i>
                                                </a>
                                                <a href="assets/base/img/content/stock2/01.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="assets/base/img/content/stock2/01.jpg" alt=""> </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-uppercase c-font-bold">
                                            <a href="#">Agribusiness</a>
                                        </div>
                                        
    
                                        <p> network with farmers, advise farmers on modern farming techniques, offer labor, create market to farm produce </p>
                                         <a href="{% url 'our_services' %}" class="btn btn-success">Read More</a>
                                    </div>
                                </div>
                            </div>
                               <div class="item">
                                <div class="c-content-blog-post-card-1 c-option-2">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#">
                                                    <i class="icon-link"></i>
                                                </a>
                                                <a href="assets/base/img/content/stock2/06.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="assets/base/img/content/stock2/06.jpg" alt=""> </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-uppercase c-font-bold">
                                            <a href="#">Agro forestry</a>
                                        </div>
                                        
                                        
                                        <p> setting up tree nurseries for selling seedlings, plant trees, offer market for timber, give advise on types of trees to be planted. </p>
                                         <a href="{% url 'our_services' %}" class="btn btn-success">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-blog-post-card-1 c-option-2">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#">
                                                    <i class="icon-link"></i>
                                                </a>
                                                <a href="assets/base/img/content/stock2/03.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="assets/base/img/content/stock2/03.jpg" alt=""> </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-uppercase c-font-bold">
                                            <a href="#">Sales and marketing services</a>
                                        </div>
                                        <p>open Business Malls where producers are able to their customers direct</p>
                                        <a href="{% url 'our_services' %}" class="btn btn-success">Read More</a>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- End-->
                    </div>
                    <!-- End-->
                </div>
            </div>
            <!-- END: CONTENT/BLOG/RECENT-POSTS -->
            
            
            
            <!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
            
            <!-- END: PAGE CONTENT -->
{% endblock %}