{% load staticfiles %}
    <footer>
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-sm-12">
            <div class="well" style="background-image: url('/static/img/sponsors.jpg'); background-size: contain;  background-repeat: no-repeat; height: 130px;">
            
                <div class="widget" >
                
                </div>
            </div>
           
           
          
        </div>
    </div>

    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="copyright">
                        <p>
                            <p class="c-copyright c-font-grey">@{% now "Y" %}- GFC
                                <span class="c-font-grey-3">All Rights Reserved | Powered by <a href="http://www.eujimsolutions.co.ke/" target="_blank"><font color="green">EUJIM Solutions</font></a>.</span>
                        </p>
                    </div>
                </div>
                

               
                   

                <div class="col-lg-4">
                    <ul class="social-network">
                        <li><a class="waves-effect waves-dark" href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>