{% extends 'new/base.html' %}
{% load static %}
{% block content %}
       <section class="pad-t80 pad-b30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb10">
                        <div class=" left mb30 text-center">
                            <h3 style="font-size: 34px;color: #93c83f;">WHO WE ARE</h3>
                        </div>
                        <p style="font-weight: 20px">Gem Famers Centre was formed under strong foundation to transform lives of people through community partnership.

						Its mission is to initiate and promote development programs within the community in order to achieve the Millenium Development Goals, Sustain Development Goals and Kenya Vision 2030.

						It has now grown to cover the whole Nyanza, parts of Western and North Eastern region through partnership with various groups, Individual Farmers, NGOs, Government departments, National and International Community. Some of the partners have extended our activities to Somali and Southern Sudan to assist them in Disaster Management in various sectors, majorly in Agriculture.</p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                
                </div>
                <div class="row">
                    <div class="col-md-4">
                            <div class="text-center left mb50">
                                <h4 style="color: #93c83f;">Mission Statement</h4>
                            </div>
                                <p>Provide policies and initiatives to accelerate the growth of viable projects for socio economic development in the community.</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="text-center left mb50">
                                <h4 style="color: #93c83f;">Vision</h4>
                            </div>
                                <p>To be the leading entrepreneur in transforming and improving lives of the people through community partnership.</p>
                            
                    </div>
                    <div class="col-md-4">
                    	<div class="text-center left mb50">
                       
                                <h4 style="color: #93c83f;">Objective</h4>
                            </div>
                                <p>Maximizing the opportunities and resources available to achieve Sustainable Development Goals</p>
                                
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="pad-t100 pad-b70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" text-center">
                            <h3 style="color: #039be5;">OUR ACHIEVEMENTS</h3>
                        </div>
                        
                    </div>
                    
                </div><br/>
                <div class="row">
                	<div class="col-md-2"></div>
                <div class="col-md-8">
                  <ul style="list-style-type:disc;">
                  	<li>
                  		Improving agribusiness and Agro forestry across Nyanza Region
                  	</li>
                  	
					<li>
					KCB Lions, Dens’ Entrepreneurs competition the year 2017 link KCB lions’ den SO2EO2 pitch 6 Lake Harvest</li>
					
					<li>
					News in Education- issue of Standard and Taifa Leo newspaper to schools, published on Standard Newspaper</li>
					
					<li>
					Organizing and participating in several forums, training, community support programs including world food day, world environment day, innovations forum, Africa socio economic forum, international and eco-tourism</li>
					<li>
					Honored in Transform Kenya Awards in Agriculture the year 2014
					</li>
					<li>
					Education for Sustainable Development- won green school award, participate in Giraffe centre events, initiated projects in</li>
					<li>
					Transforming Fish industry-through opening of fish deports</li>
					<li>
					Networking with community members in socio economic development</li>
					<li>
					Supporting the local libraries and information centres through books donations

                  	</li>
                  </ul>
                </div>
                <div class="col-md-2"></div>
                </div>

              
            </div>
        </section>
    
{% endblock %}