{% extends 'new/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="" content="">
    <title>Gem Farmers Center</title>
<meta property="og:url"           content="http://{{request.get_host}}{% url 'blog_item' item.id item.slug %}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Gem Farmers Center | {{item.title|striptags}}" />
    <meta property="og:description"   content="{{item.body|striptags}}" />
   
    <meta property="og:image"         content="{{item.image.url}}" />

          
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
{% include 'css.html' %}
</head>
<div id="wrapper" class="home-page"> 

                    <section id="inner-headline" style="background-color: white">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
    </div>
    </section>
            <div class="c-content-box c-size-md" style="background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                               
                                            
                                    <div class="item">
                                            <img src="{{ MEDIA_URL }}{{item.image.url}}" class="c-content-media-2 img-responsive">
                                    </div>
                                    
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="#" >{{item.title}}</a>
                                    </div>
                                    <div class="c-panel c-margin-b-30">
                                        <div class="c-date">on
                                            <span class="c-font-uppercase">{{item.date_posted}}</span>
                                        </div>
                                        
                                    </div>
                                    <div class="c-desc">
                                        {{item.body|safe}}
                                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_whatsapp"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
                                    </div>




<!-- AddToAny END -->

<!-- begin wwww.htmlcommentbox.com -->
 
<!-- end www.htmlcommentbox.com -->
                                    <div class="c-comments">
                                        <div class="c-content-title-1">
                                            <h3 class="c-font-uppercase c-font-bold">Comments</h3>
                                            <div class="c-line-left"></div>
                                        </div>
                                        <div class="c-comment-list">
                                            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1463213136506");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                          
                     
                           
                        
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">Recent Posts</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                <ul class="c-menu c-arrow-dot c-theme">
                                {% for item in items %}
                                    <li>
                                        <a href="{% url 'blog_item' item.id item.slug %}">{{item.title|title}}</a>
                                    </li>
                                    <hr>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>

</div>
</body>


<!-- Mirrored from themehats.com/themes/jango/home-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Feb 2016 11:31:12 GMT -->
</html>
{% endblock %}