{% extends 'new/base.html' %}
{% load static %}
{% block content %}


        <!-- Start Revolution SLideshow-->
        <div class="rev_slider_wrapper fullscreen-container carousel-inner" role="listbox" style="max-width:auto; max-height:600px !important;"">
            <div id="rev_slider_1" class="rev_slider fullscreenbanner" style="display: none;" data-version="5.4.5">
                <ul>
                    <li data-transition="parallaxtoright">
                        <img src="{% static 'img/sliders/dgahd.jpg' %}" alt="Slideshow" class="rev-slidebg">

                        <!-- START LAYER 1 -->
                        <div class="tp-caption tp-resizeme max-style" id="slide-1-layer-1" 
                            data-x="['left','left','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['-100','-100','-110','-90']" 
                            data-fontsize="['70','70','45','40']" 
                            data-lineheight="['70','70','50','50']" 
                            data-width="none" 
                            data-height="none" 
                            data-whitespace="nowrap" 
                            data-transform_idle="o:1;" 
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                            data-start="1000" 
                            data-splitin="chars" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">Best caption for this sliders
                            </div>
                        <!-- END LAYER 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme slider-text" id="slide-1-layer-2" 
                            data-x="['left','left','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['0','0','0','0']" 
                            data-fontsize="['18','18','18','12']" 
                            data-lineheight="['30','30','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                            data-start="2500" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; color: #fff; line-height: 22px;">Best caption for this sliders.
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-3" 
                            data-x="['left','left','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['120','120','100','100']" 
                            data-fontsize="['18','18','14','14']" 
                            data-lineheight="['26','26','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-start="2800" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#" class="btn btn-primary">Best caption for this sliders</a>
                        </div>
                    </li>
                    <li data-transition="parallaxtoright">
                        <img src="{% static 'img/sliders/fhgs.jpg' %}" alt="Slideshow" class="rev-slidebg">
                        <!-- START LAYER 1 -->
                        <div class="tp-caption tp-resizeme max-style" id="slide-2-layer-1" 
                            data-x="['center','center','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['-100','-100','-110','-90']" 
                            data-fontsize="['60','60','45','30']" 
                            data-lineheight="['70','70','50','50']" 
                            data-width="none" 
                            data-height="none" 
                            data-whitespace="nowrap" 
                            data-transform_idle="o:1;" 
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"  
                            data-start="1000" 
                            data-splitin="chars" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">Best caption for this sliders
                            </div>
                        <!-- END LAYER 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme slider-text" id="slide-2-layer-2" 
                            data-x="['center','center','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['0','0','0','0']" 
                            data-fontsize="['18','18','18','12']" 
                            data-lineheight="['30','30','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                            data-start="2500" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; color: #fff; text-align: center;">Best caption for this sliders.
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme" id="slide-2-layer-3" 
                            data-x="['center','center','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['120','120','100','100']" 
                            data-fontsize="['18','18','14','14']" 
                            data-lineheight="['26','26','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  
                            data-start="2800" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#" class="btn btn-primary">BBest caption for this sliders</a>
                        </div>
                    </li>
                    <li data-transition="parallaxtoright">
                        <img src="{% static 'img/sliders/gdg.jpg' %}" alt="Slideshow" class="rev-slidebg">

                        <!-- START LAYER 1 -->
                        <div class="tp-caption tp-resizeme max-style" id="slide-3-layer-1" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['-100','-100','-110','-90']" 
                            data-fontsize="['70','70','45','40']" 
                            data-lineheight="['70','70','50','50']" 
                            data-width="none" 
                            data-height="none" 
                            data-whitespace="nowrap" 
                            data-transform_idle="o:1;" 
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                            data-start="1000" 
                            data-splitin="chars" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">Best caption for this sliders
                            </div>
                        <!-- END LAYER 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme slider-text" id="slide-3-layer-2" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['0','0','0','0']" 
                            data-fontsize="['18','18','18','12']" 
                            data-lineheight="['30','30','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                            data-start="2500" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; color: #fff; line-height: 22px; text-align: right;">Best caption for this sliders
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme" id="slide-3-layer-3" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['120','120','100','100']" 
                            data-fontsize="['18','18','14','14']" 
                            data-lineheight="['26','26','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-start="2800" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#" class="btn btn-primary">Best caption for this sliders</a>
                        </div>
                    </li>
                    <li data-transition="parallaxtoright">
                        <img src="{% static 'img/sliders/fg.jpg' %}" alt="Slideshow" class="rev-slidebg">

                        <!-- START LAYER 1 -->
                        <div class="tp-caption tp-resizeme max-style" id="slide-3-layer-1" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['-100','-100','-110','-90']" 
                            data-fontsize="['70','70','45','40']" 
                            data-lineheight="['70','70','50','50']" 
                            data-width="none" 
                            data-height="none" 
                            data-whitespace="nowrap" 
                            data-transform_idle="o:1;" 
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                            data-start="1000" 
                            data-splitin="chars" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">Best caption for this sliders
                            </div>
                        <!-- END LAYER 1 -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme slider-text" id="slide-3-layer-2" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['0','0','0','0']" 
                            data-fontsize="['18','18','18','12']" 
                            data-lineheight="['30','30','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                            data-start="2500" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; color: #fff; line-height: 22px; text-align: right;">Best caption for this sliders.
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme" id="slide-3-layer-3" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','0']" 
                            data-voffset="['120','120','100','100']" 
                            data-fontsize="['18','18','14','14']" 
                            data-lineheight="['26','26','22','22']" 
                            data-width="none" 
                            data-height="none" 
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                            data-start="2800" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            style="z-index: 5; white-space: nowrap; color: blue; line-height: 22px;"><a href="#" class="btn btn-primary">Best caption for this sliders</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Revolution SLideshow-->
        <section >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb10">
                        <div class=" left mb50 text-center">
                            <h3 style="font-size: 34px;color: #93c83f;">WHO WE ARE</h3>
                        </div>
                        <p style="font-weight: 20px">Gem Famers Centre was formed under strong foundation to transform lives of people through community partnership.
                        Its mission is to initiate and promote development programs within the community in order to achieve the Mil,lennium Development Goals, Sustain Development Goals and Kenya Vision 2030<a href="{% url 'new_about_us' %}" class="btn btn-sucess" style="color: #039be5">View more</a></p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center left mb30">
                            <h3 style="font-size: 34px;color: #93c83f;">OUR KEY SERVICES</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="latest-news">
                            <div class="news-details">
                                <h4><a href="{% url 'our_services' %}">Agribusiness</a></h4>
                                <p>Network with farmers, advise farmers on modern farming techniques, offer labor, create market to farm produce</p>
                                <a href="{% url 'new_services' %}" class="btn btn-success">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="latest-news">
                           
                            <div class="news-details">
                                <h4><a href="{% url 'our_services' %}">Agroforestry</a></h4>
                                <p>Setting up tree nurseries for selling seedlings, plant trees, offer market for timber, give advise on types of trees to be planted.</p>
                                <a href="{% url 'new_services' %}" class="btn btn-success">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="latest-news">
                          
                            <div class="news-details">
                                <h4><a href="{% url 'our_services' %}">Sales and Marketing Services</a></h4>
                                <p>Open Business Malls where producers are able to their customers direct</p>
                                <a href="{% url 'new_services' %}" class="btn btn-success">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pad-t50 pad-b10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" text-center">
                            <h3 style="font-size: 34px;color: #93c83f;">Member Benefits</h3>
                        </div>
                        
                    </div>
                    
                </div><br/>
                <div class="row">
                <div class="col-md-12">
                    <p>We have different membership categories each with it's own benefits. Interested parties can either register with us then join different membership categories.Below are some of the membership Categories you can join upon registration.</p>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">

                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Benefits to registered Farmers</h3>
                                    </a>
                                    <p>Registered farmers get an access to our various premium services including extension services, quality seeds, modern technology, networking with other farmers, sales and marketing for farm products. Register Now.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">

                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading"style="color: #039be5;">Benefits to registered Students</h3>
                                    </a>
                                    <p>We help students registered with us secure attachments/internship positions in our numerous partner organizations and idustries. We also advise them on how to create jobs and employment among themselves.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">

                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Institutions</h3>
                                    </a>
                                    <p>Education for sustainable development, Income development projects, offer research centres, link to the community, increase student population, advise students on matters pertaining education, discipline, job opportunities, attachments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">
                            
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Consumers</h3>
                                    </a>
                                    <p>Will be linked to suppliers or sellers, advise on price trend in the market, quality goods and services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">
   
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Consultants</h3>
                                    </a>
                                    <p>Create job opportunity; link them to clients, opportunity for research.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-1">
                            <div class="media">

                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Industries</h3>
                                    </a>
                                    <p>Will be linked to suppliers and consumers, market research, consumer/suppliers feedback.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="feature-1">
                            <div class="media">

                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="media-heading" style="color: #039be5;">Entrepreneurs</h3>
                                    </a>
                                    <p>Will be linked to clients both suppliers and buyers, financial services, opportunities in the market.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}