{% extends 'new/base.html' %}
{% load static %}
{% block content %}
       <section class="pad-t80 pad-b50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb10">
                        <div class=" left mb10 text-center">
                            <h3 style="font-size: 34px;color: #93c83f;">OUR SERVICES</h3>
                        </div>
                        <p style="font-weight: 20px">We offer the full spectrum of services to help transform communities. Everything from of training farmers to work in more effective ways to helping them market their farm produce. Very few others do this.</p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class=" pad-b50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center left mb30">
                            <h3 style="color: #93c83f;">OUR KEY SERVICES</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul style="list-style-type:disc;">
                    <li>
                       Agro forestry – setting up tree nurseries for selling seedlings, plant trees, offer market for timber, give advise on types of trees to be planted.
                    </li>
                    <li>
                       Cage fish farming, Fish feeds and Fish Depots.
                    </li>
                    <li>
                       Provide knowledge, Education for Sustainable Development to the learning Institutions.
                    </li>
                    <li>Financial Services- advise on financial management, savings and credit</li>
                            
                            
                      
                    </div>
                   <div class="col-md-4">
                        <ul style="list-style-type:disc;">
                    <li>
                       Agribusiness – network with farmers, advise farmers on modern farming techniques, offer labor, create market to farm produce.
                    </li>
                    <li>
                      Sales and marketing services- open Business Malls where producers are able to their customers direct.
                    </li>
                    <li>
                       Give advise on income generating projects.
                    </li>
                    <li>
                       Human Resource Services.
                    </li>
                          
                            
                            
                      
                    </div>
                    <div class="col-md-4">
                        <ul style="list-style-type:disc;">
                    <li>
                       Livestock keeping and livestock feeds – milk and meat production.
                    </li>
                    <li>
                       Water for domestic and irrigation – preservation of water towers, using irrigation system during dry season.
                    </li>
                    <li>
                       Industrialization- network with processing industries eg fruits, cooking oil, honey, cotton.
                    </li>
                    <li>
                       Information Communication Technology- ICT services.
                    </li>
                    
                            
                      
                    </div>
            </div>
        </section>
        <br />
   
{% endblock %}