{% extends 'new/base.html' %}
{% load static %}
{% block content %}
       <section class="pad-t80 pad-b50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb10">
                        <div class=" left mb10 text-center">
                            <h3 style="font-size: 34px;color: #93c83f;">OUR REGIONAL CONTACTS</h3>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
               
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Gem Kambare</h4>
                            </div>
                                <p>Contact Person: Pamela Abondo</p>

                                <p>Contact: 0788603708</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Nairobi Office</h4>
                        </div>
                                <p>Office: Kenya cinema 4th floor room 404</p>
                                <p>Contact: 0720805189, 0733638341</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Nairobi County</h4>
                        </div>
                                
                                <p>Contact Person/Office: Margaret Nyangi</p>
                                <p>Contact: 0722387244</p>
                                
                       
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Ngong</h4>
                            </div>
                                <p>Contact Person: Paul Owade</p>

                                <p>Contact: 0721522815</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Kiserian</h4>
                        </div>
                                <p>Contact Person: Tobias</p>
                                <p>Contact: 0741233917</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Ongata Rongai</h4>
                        </div>
                                
                                <p>Contact Person: Augustine Owiny</p>
                                <p>Contact: 0728827146</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Kisumu County</h4>
                            </div>
                                <p>Contact Person: Jacob Minudi</p>

                                <p>Contact: 0721378927 or 0735455752</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Kisumu Town</h4>
                        </div>
                                <p>Contact Person: Otieno Menya</p>
                                <p>Contact: 0706684240 or 0754041864</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Seme</h4>
                        </div>
                                
                                <p>Contact Person: Mathew</p>
                                <p>Contact: 0734800815</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Nyakach</h4>
                            </div>
                                <p>Contact Person: Jacob Minudi</p>

                                <p>Contact: 0721378927 or 0735455752</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Koru</h4>
                        </div>
                                <p>Contact Person: Martha Joseph</p>
                                <p>Contact: 0720882400</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Homabay County</h4>
                        </div>
                                
                                <p>Contact Person: Clement Kotonya</p>
                                <p>Contact: 0724975768 / 0751875578</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Homa Bay town</h4>
                            </div>
                                <p>Contact Person: Maryanne Opiyo</p>

                                <p>Contact: 0722403246</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Rangwe</h4>
                        </div>
                                <p>Contact Person: Chrispine Omondi</p>
                                <p>Contact: 0718422653</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Kendu Bay</h4>
                        </div>
                                
                                <p>Contact Person:  Anthony Owera</p>
                                <p>Contact: 0720331153</p>
                                
                       
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Nyakach</h4>
                            </div>
                                <p>Contact Person: Jacob Minudi</p>

                                <p>Contact: 0721378927 or 0735455752</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Koru</h4>
                        </div>
                                <p>Contact Person: Martha Joseph</p>
                                <p>Contact: 0720882400</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Homabay County</h4>
                        </div>
                                
                                <p>Contact Person: Clement Kotonya</p>
                                <p>Contact: 0724975768 / 0751875578</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Homa Bay town</h4>
                            </div>
                                <p>Contact Person: Maryanne Opiyo</p>

                                <p>Contact: 0722403246</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Rangwe</h4>
                        </div>
                                <p>Contact Person: Chrispine Omondi</p>
                                <p>Contact: 0718422653</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Kendu Bay</h4>
                        </div>
                                
                                <p>Contact Person:  Anthony Owera</p>
                                <p>Contact: 0720331153</p>
                                
                       
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Suba Magunga</h4>
                            </div>
                                <p>Contact Person: Fred Orego</p>

                                <p>Contact: 0735978093 or 0702940340</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Suba-Sindo</h4>
                        </div>
                                <p>Contact Person: Molly</p>
                                <p>Contact: 0728001953</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Migori County</h4>
                        </div>
                                
                                <p>Contact Person: Nashon Ombija Ajuoga</p>
                                <p>Contact: 0706940759</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Busia County</h4>
                            </div>
                                <p>Contact Person: Roman Obingo</p>

                                <p>Contact: 0722807993</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb25">
                                <h4 style="color: #93c83f;">Garissa/Mandera/Wajir/
                                Somali/Isiolo/Marsabit</h4>
                        </div>
                                <p>Contact Person: Omari Ojiambo</p>
                                <p>Contact: 0708391893 OR 0792233541</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">South Sudan</h4>
                        </div>
                                
                                <p>Contact Person:  Jane</p>
                                <p>Contact: 0707741273</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Suba Magunga</h4>
                            </div>
                                <p>Contact Person: Fred Orego</p>

                                <p>Contact: 0735978093 or 0702940340</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Suba-Sindo</h4>
                        </div>
                                <p>Contact Person: Molly</p>
                                <p>Contact: 0728001953</p>
                            
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                       
                                <h4 style="color: #93c83f;">Migori County</h4>
                        </div>
                                
                                <p>Contact Person: Nashon Ombija Ajuoga</p>
                                <p>Contact: 0706940759</p>
                                
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                            <div class="left mb30">
                                <h4 style="color: #93c83f;">Siaya County</h4>
                            </div>
                                <p>Contact Person: Fredrick O Olando</p>

                                <p>Contact: 0700149669</p>
                           
                      
                    </div>
                    <div class="col-md-4">
                        <div class="left mb30">
                                <h4 style="color: #93c83f;">Bondo Sub County</h4>
                        </div>
                                <p>Contact Person: Fredrick O Olando</p>
                                <p>Contact: 0700149669</p>
                            
                    </div>
                    
                </div>
                <br/>
                
                </div>
            </div>
        </section>

{% endblock %}